@import url(//db.onlinewebfonts.com/c/892850d83218fca420620805baf2a3f7?family=BeaufortW01-Medium);

body {
    font-family:"BeaufortW01-Medium";
}



#calendar button
{
    width: 100%;
    margin: auto;
    padding: 10px 0 10px 0;
    color: #cdfafa;
    box-shadow: 0 0 1px 1px #010a13, inset 0 0 1px 1px #010a13;
    background: #1e2328;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, #0d404c 0%, #0596aa 44%, #0596aa 93%, #0ac8b9 100%);
    border-image-slice: 1;
}


#calendar button:hover
{
    color: #cdfafa;
    border-image: linear-gradient(to top, #3295c7 0%, #0ac8b9 49%, #cdfafa 100%);
    border-image-slice: 1;
    background-image: linear-gradient(to top, rgba(88,83,66,0.5), rgba(30,35,40,0.5));
    cursor: pointer;
}


#calendar td
{
    background-color:rgb(255, 255, 255);
}


/* declare a 6 column grid on the table */
#calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 20px;
}


.mymodal
{
    padding: 20px;
}




caption {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}



#calendar td, #calendar th {
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
}

#calendar .weekdays {
    background: #687edb;
}


#calendar .weekdays th , #ore{
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar td {
    min-height: 70px;
    display: flex;
    flex-direction: column;
}

#calendar .disponibilità {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    flex: 0 0 auto;
    align-self: flex-end;
}


#calendar tr, #calendar tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}

table .ore
{
    vertical-align: text-top;
    background-color: #687edb !important;
}


.full
{
    padding-top: 8% !important;
    background-color: #ff383c !important;
    font-size: 25px;
    text-align: center;
}
