nav
{
    background-color: #687edb;
}

#chatList, #chatView
{
    height: 94%;
    position: absolute;

}

#chatList
{
    width: 25%;
    background-color: #84b8d9;
}

#chatView
{
    margin-left: 25%;
    width: 75%;
    background-color: #65B43D;
}
 #chatList .myItem:hover
{
    cursor: pointer;
}
